*{
    text-align: center;
    margin: 0;
    padding: 0;
  
}
#head{
    background-color: #a34e04;
    height: 90px;
    font-size: 60px;
    color: white;
    line-height: 90px;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
    transition-timing-function: transform 0 ease-in-out;
}
.imgc{
    border-radius: 50%;
}
.img{
    clip-path: circle(45% at center);
    transition-timing-function: transform 0 ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgc:hover{
    cursor:pointer; 
    opacity: 0.7;  
    transform:scale(1.1);
    background-color: black;
}
.scoreb{
    
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
.score{
    font-size: 30px;   
}
.msg{
    font-size: 25px;
    line-height: center;
    color: white;
    margin-top: 2rem;
}
#msg{
    background-color: #cf191c;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.time{
    margin-top: 1rem;
    margin-left: 90%;
    height: 3rem;
    width: 6rem;
    background-color: #e9484b;
    border-radius: 1rem;
}